footer {
    background:white;
    float: left;
    padding: 32px;
    text-align: center;
    width: 100%;
}

footer a {
    background: white;
    color: black;
}

footer a:hover {
    background: black;
    color: white;
}
footer a:focus {
    background: black;
    color: white;
    outline: none;
}


/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
    div{
        display: inline-flex;
    }
    aside {
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        width: 30%;
    }
    section{
        display: inline;
        float: right;
        width: 70%;
    }
}